html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #000000,
        #000814,
        #001d3d,
        #001f3f,
        #000000
    );
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(236, 89, 4), #ff0000);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff4d6d;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    width: 350px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 20px #00d4ff;
}

.card img {
    width: 80%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    margin: 8px 0;
    font-size: 14px;
}